@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<textarea name="Msg" class="ckeditor" id="Msg" rows="5" cols="80"></textarea>

<button type="button" class="btn bg-blue" id="btnAddComments1"><i class="icon-plus22"></i> Add comment</button>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/newone.js"></script>